body {
  background: #CC5543;
  margin: 0;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  width: 100%;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
}

svg {
  top: -10px;
  min-width: 600px;
  margin: -10px -150px 0;
}

#curve {
  fill: transparent;
}

#accomodation {
  position: relative;
}

#accomodation div{
  border: 2px #EDB579 solid;
}

.airbnb {
  position: absolute;
  width:50%;
  height:50%;
  top:0;
  left:0;
  background: url(airbnb.jpg) no-repeat bottom center;
  background-size: cover;
}

.airbnb h3 a {
  color: white;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  height: 36px;
  padding-top: 4px;
  vertical-align: middle;
  background: #6D7696;
  text-decoration: none;
  text-align: center;
  left: 0;
}

.urenui {
  position: absolute;
  width:50%;
  height:50%;
  top:50%;
  left:0;
  background: url(urenui.jpg) no-repeat bottom center;
  background-size: cover;
}

.urenui h3 a {
  color: white;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  height: 36px;
  vertical-align: middle;
  background: #6D7696;
  text-decoration: none;
  text-align: center;
  padding-top: 4px;
  left: 0;
}

.cabins {
  position: absolute;
  width:50%;
  height:50%;
  top:00%;
  left:50%;
  background: url(cabins.jpg) no-repeat bottom center;
  background-size: cover;
}

.cabins h3 a {
  color: white;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  height: 36px;
  padding-top: 4px;
  vertical-align: middle;
  background: #6D7696;
  text-decoration: none;
  text-align: center;
  left: 0;
}

.devon {
  position: absolute;
  width:50%;
  height:50%;
  top:50%;
  left:50%;
  background: url(devon.jpg) no-repeat bottom center;
  background-size: cover;
}

.devon h3 a {
  color: white;
  width: 100%;
  color: white;
  position: absolute;
  bottom: 0;
  height: 36px;
  padding-top: 4px;
  vertical-align: middle;
  background: #6D7696;
  text-decoration: none;
  text-align: center;
  left: 0;
}

#main > svg > text > textPath {
  fill: white;
  font-size: 32px;
  font-family: 'Dancing Script', serif;
  text-shadow: 2px 2px #8888;
}

h1 {
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  font-family: Lora, sans-serif;
  text-shadow: 2px 2px #8888;
  font-weight: 500;
}
.italics {
  font-style: italic;
}
h3 {
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
  font-family: Lora, sans-serif;
  text-shadow: 2px 2px #8888;
  font-weight: 700;
}
h3.date {
  padding-top: 30px;
}
.gabe {
  position: absolute;
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  font-family: 'Dancing Script', sans-serif;
  text-shadow: 2px 2px #8888;
  font-weight: 500;
  transform: rotate(-20deg);
  top: 140px;
  left: 50%;
  margin-left: -180px;
}
@media (max-width: 400px) {
  .gabe {
    font-size: 75px;
    margin-left: -140px;
  }
  div.and {
    top: 150px;
    margin-left: 90px;
  }
}
@media (max-height: 500px) {
  .gabe {
    top: 100px
  }
  div.and {
    top: 110px;
  }
}
@media (min-width: 750px) {
  .gabe {
    top: 150px
  }
  div.and {
    top: 180px;
  }
  section svg {
    margin-top: -60px;
  }
}
#accomodation-list {
  margin-top: 40px;
}
#accomodation-list a {
  color: white;
}
.and {
  position: absolute;
  font-size: 80px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  font-family: 'Dancing Script', sans-serif;
  text-shadow: 2px 2px #8888;
  font-weight: 500;
  top: 170px;
  left: 50%;
  margin-left: 100px;
}
#main {
  background: url(main.jpg) no-repeat bottom center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  background-color:#424d3a;
}

#menu {
  background: white;
  z-index: 1000;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
}

#menu a {
  font-size: 18px;
  padding: 8px 20px 0;
  color: #EDB579;
  display: inline-block;
  font-weight: 700;
}
.wedding-time {
  text-align: center;
  margin: 0 0 20px;
}
#wedding-time{
  font-family: 'Dancing Script', sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 16px;
  text-shadow: 2px 2px #8888;
}
@media (min-width: 992px) {
  #location-details {
    margin-top: 102px;
  }
}
#details {
  /* background: #59484F; */
  background-image: url('/details.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px #8888;
}
#details a{
  color: #EDB579;
  text-shadow: 2px 2px #8888;
}

#accomodation{
  background: #6D7696;
}

#rsvp {
  background: #CC5543;
}

form {
  min-width: 70%;
}

label {
  color: #CC5543;
}

label[for="date_true"],
label[for="rsvp_true"] {
  margin-right: 8px;
}

input[type="radio"] {
  margin-right: 4px;
}

input[type="text"] {
  border-radius: 8px;
}

.detail-labels {
  text-align: right;
  font-weight: bold;
}

.detail-content {
  padding-top: 64px;
}

.details-container {
  text-align: center;
  margin-bottom: 24px;
}

.details-image {
  width: 350px;
  height: 200px;
  margin: 0 auto;
}

.rsvp-image {
  width: 300px;
  height: 200px;
  margin: 0 auto;
}

.rsvp-image-container {
  text-align: center;
}

@media (min-width: 992px) {
  .rsvp-image-container {
    margin-top: 150px;
  }
  form {
    margin-top: 150px;
  }
}

@media (max-width: 992px) {
  .rsvp-image-container {
    margin-top: 64px;
  }
  .rsvp-image {
    width:350px;
    height: 263px;
  }
  form {
    /* margin-top: 150px; */
  }
}

@media (min-width: 992px) {
  .details-image {
    padding-left: 50px;
  }
  .rsvp-image {
    margin-top: 20px;
    width: 520px;
    height: 300px;
    padding-left: 60px;
  }
}

.thanks {
  margin-top: 35px;
  line-height: 0;
  font-size: 17px;
  display: block;
  box-sizing: border-box;
  border-radius: 60px;
  color: #CC5543;
  font-weight: 100;
  letter-spacing: 0.01em;
  position: relative;
  z-index: 1;
  display: none;
}

@media (max-width: 992px) {
  .map {
    text-align: center;
    margin: 20px auto;
  }
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked+label {
  background: #CC5543;
  color: white;
}

label.rsvp-label {
  border: 1px solid #CC5543;
  border-radius: 4px;
  padding: 4px 12px;
  user-select: none;
}

input[type="radio"]:checked+label:hover {
  background: #d98073;
}

input[type="radio"]:not(:checked)+label:hover {
  color: #d98073;
}

label.rsvp-label {
  border: 1px solid #CC5543;
  border-radius: 4px;
  padding: 4px 12px;
}
